<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <ul>
        <% @teams.each do |team| %>
        <li>
        <% if team.is_supporter?(current_user) == false %>
          <%= simple_form_for [team, @fan] do |f| %>
          <%= f.input :team_id, as: :hidden, input_html: { value: team.id } %>
          <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
            <%= f.submit %>
          <% end %>
           <p><%= team.name %></p>

         <%else%>
            <p style="color: green;"><%= team.name %></p>
        </li>
        <%end%>
       <%end%>
     </ul>
    </div>
    <%= link_to 'Finish', root_path%>

  </div>
</div>
