<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="text-center">
        <h3><%= @profile.first_name.capitalize + " " + @profile.last_name.capitalize %></h3>
        <p><%= @profile.username %></p>
        <p><%= @profile.age %></p>
      </div>
      <div class="col-xs-6 padded">
      <ul>
        <h4>Your teams</h4>
        <% @profile.user.team.each do |team| %>
          <%= link_to team_path(team) do %>
            <li> <%= team.name %> </li>
          <%end%>
        <%end%>
      </ul>
      </div>
      <div class="col-xs-6 padded">
        <ul>
          <h4>Your Events</h4>
          <% @profile.user.events.each do |event| %>
               <%= link_to venue_path(event.venue) do %>
               <%= event.game.home_team.name + " " + "V" + " " + event.game.away_team.name %>
              <% end %>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
