

<div class="container">
  <div class="row">
    <h1>Venues</h1>

    <% @venues.each do |venue| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <!-- div class="card" -->
      <div class = "text-center">
        <%= link_to venue_path(venue) do %>
            <div>
              <h3><%=venue.name%></h3>
            </div>
            <% end %>
        <%=venue.address%>
        <%= venue.description%>
        <%= venue.rating%>
        <%= venue.close%>
        <%= venue.screens%>
        <%= venue.internet%>
        <%= venue.food%>
        <%= venue.price_range%>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% if current_user.admin? %>
          <%= link_to 'New Venue', new_venue_path, class: 'btn btn-primary'%>
<% end %>



