<!-- <div class= "text-center">
  <h1><%= @venue.name %></h1>
            <%= @venue.address%>
            <%= @venue.description%>
            <%= @venue.rating%>
            <%= @venue.close%>
            <%= @venue.screens%>
            <%= @venue.internet%>
            <%= @venue.food%>
            <%= @venue.price_range%>
</div>

<div class="venue-info"></div>
  <div class="container small-padded"></div>
    <div class="row">
</div> -->
<div class= "text-center">
  <h1><%= @venue.name %></h1>
  <h3><%= @venue.rating %></h3>
</div>

<div class="venue-info">
  <div class="container small-padded">
    <div class="row">

     <!--  <div class="col-xs-12 col-md-6">

      </div> -->
      <div class="col-xs-12 col-md-6">
        <h3><%=@venue.description%></h3>
        <div>
          <ul class="list-inline"
            <li><p>TV Screens: <%= @venue.screens %></p></li>
            <li><% if @venue.internet == true%>
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <% end %></li>
          <li>
          <% if current_user.admin? %>
          <%= link_to 'Edit venue', edit_venue_path(@venue), class: 'btn btn-primary'%>
          <%= link_to "Delete Bar", venue_path(@venue), method: :delete, class: 'btn btn-primary'%>
          <%= link_to "Add Events", new_venue_event_path(@venue), class: "btn btn-primary" %>
          <% end %>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<% @venue.events.each do |event| %>
  <li>
    <%= event.game.home_team.name %> vs <%= event.game.away_team.name %>
  </li>
<% end %>

