<div class="wrappper-background">
  <div class="wrappper-venue">
    <div class="venue-information">
      <div class="header-info">
        <div class="header-image">
          <div class="image-venue padded" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path @venue.photo %>');"></div>
        </div>
        <div class="header-right">
          <h2>
            <%= @venue.name %>
          </h2>
          <h3>
          <% unless @venue.rating.nil? %>

            <% @venue.rating.times do %>
            <i class="fa fa-star"></i>
            <% end %>
            <% (5 - @venue.rating).times do %>
            <i class="fa fa-star-o"></i>
            <% end %>
          <% end %>
          </h3>
        </div>
      </div>
      <div class="venue-description">
        <div class="row">
          <div class="col-xs-6">
            <p>
              <%= @venue.description %>
            </p>
          </div>
          <div class="col-xs-6">
            <ul class="list-unstyled venue-features">
              <li>
                <i class="fa fa-television"></i> <%= @venue.screens %>
              </li>
              <li>
                <% if @venue.internet %>
                <i class="fa fa-wifi" aria-hidden="true"></i> Free
                <% end %>
              </li>
              <li>
                <i class="fa fa-users"></i> <%= @venue.attendees.count %>
              </li>
              <li>
                <i class="fa fa-map-marker"></i> <%= @venue.address %>
              </li>
              <li>
                <i class="fa fa-clock-o"></i> <%= @venue.close.strftime('%H:%M') %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="venue-events">
        <h3> Your events !</h3>

<ul class="list-unstyled">
        <% @venue.events.each do |event| %>

<li>
<% event.supporters.values.each_with_index do |value, index| %>
<% if index == 0 %>
<%= value %> attendees
<% else %>
          <% if event.is_attending?(current_user) %>
         <div class="attend_event">
          <%= "You're attending #{event.game.home_team.name} vs #{event.game.away_team.name}"%>
         </div>
          <% else %>
          <%= simple_form_for [event, @attendee] do |f| %>
          <%= f.input :event_id, as: :hidden, input_html: { value: event.id } %>
          <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
          <%= f.submit "Join #{event.game.home_team.name} vs #{event.game.away_team.name}", class: "btn btn-success" %>
          <% end %>
          <% end %>
<%= value %> attendees
<% end %>
<% end %>
</li>


          <% end %>
</ul>

        </div>
        <div class="venue-actions">
          <% if current_user && current_user.admin? %>
          <%= link_to 'Edit venue', edit_venue_path(@venue), class: 'btn btn-primary'%>
          <%= link_to "Delete Bar", venue_path(@venue), method: :delete, class: 'btn btn-primary'%>
          <%= link_to "Add Events", new_venue_event_path(@venue), class: "btn btn-primary" %>
          <% end %>
        </div>



        <div class="venue-map">
          <div id="map" style="width: 100%; height: 600px;"></div>
        </div>
      </div>
    </div>
</div>


    <% content_for(:after_js) do %>
    <%= javascript_tag do %>
    $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
    handler.getMap().setZoom(2);
  } else if (markers.length == 1) {
  handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>

