
<div class="wrappper-background">
<div class="wrappper-venue">
  <div class="venue-information">
    <div class="header-info">
      <div class="header-image">
        <div class="image-venue padded" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path @venue.photo %>');"></div>
      </div>
      <div class="header-right">
        <h2>
          <%= @venue.name %>
        </h2>
        <h3>
          <%= @venue.rating %>
        </h3>
      </div>
    </div>
    <div class="venue-description">
      <p>
        <%= @venue.description %>
      </p>
      <li><p>TV Screens: <%= @venue.screens %></p>
      </li>
      <li><% if @venue.internet == true%>
        <i class="fa fa-wifi" aria-hidden="true"></i>
        <% end %>
      </li>
      <p>
        Street: <%= @venue.address %>
        <br>
        Closing time: <%= @venue.close.strftime('%H:%M') %>
      </p>
    </div>
    <div class="venue-events">
      <h3> Your events !</h3>
      <% @venue.events.each do |event| %>
      <li>
        
        <% if current_user %>
        <%= simple_form_for [event, @attendee] do |f| %>
        <%= f.input :event_id, as: :hidden, input_html: { value: event.id } %>
        <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
        <%= f.submit event.game.home_team.name + " vs " + event.game.away_team.name %>
        <% end %>
        <% end %>

      </li>
      <% end %>
    </div>
    <div class="venue-actions">
      <% if current_user && current_user.admin? %>
      <%= link_to 'Edit venue', edit_venue_path(@venue), class: 'btn btn-primary'%>
      <%= link_to "Delete Bar", venue_path(@venue), method: :delete, class: 'btn btn-primary'%>
      <%= link_to "Add Events", new_venue_event_path(@venue), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="venue-map">
    <div id="map" style="width: 100%; height: 600px;"></div>
  </div>
</div>
</div>




<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>

