<div class= "text-center">
  <h1><%= @venue.name %></h1>
            <%= @venue.address%>
            <%= @venue.description%>
            <%= @venue.rating%>
            <%= @venue.close%>
            <%= @venue.screens%>
            <%= @venue.internet%>
            <%= @venue.food%>
            <%= @venue.price_range%>
</div>

<div class="venue-info"></div>
  <div class="container small-padded"></div>
    <div class="row">
</div>
